<!-- -*- html-helper -*- -->
<div class="addgroup-form">
<form method="POST" action="./addgroup.cgi">
<input type="hidden" name="cmd" value="newgroup">
新規グループ名: <input type="text"   name="name" value="" size="30"><br>
説明: <input type="text" name="description" value="" size="60">
<input type="submit" name="submit" value=" 登 録 ">
</form>
</div>
