<!-- -*- html-helper -*- -->
<div class="bbs-form">
<form action="bbs.cgi" method="POST">
このデータベースについてのコメントを投稿できます。<br>
<textarea name="comment" rows="3" cols="80"></textarea><br>
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>">
<input type="submit" value=" 投稿 ">
</form>
</div>
