<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=header.tmpl>
<TMPL_INCLUDE NAME=bbs-form.tmpl>

<TMPL_IF NAME=bbs-list>
<div class="bbs-list">
<TMPL_VAR NAME=bbs-list>
</div>
</TMPL_IF>

<TMPL_INCLUDE NAME=footer.tmpl>
