<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=header.tmpl>
<TMPL_VAR NAME=CONTENT>
<TMPL_IF NAME=UPDATABLE>
<div align="right"><a href="update.cgi?id=<TMPL_VAR NAME=ID>">[更新]</a></div>
</TMPL_IF>
<TMPL_IF NAME=USER>
<div align="right"><TMPL_VAR NAME=ADDGROUP-FORM></div>
</TMPL_IF>
<TMPL_VAR NAME=GROUP-LIST>
<TMPL_IF NAME=USER>
<TMPL_INCLUDE NAME=bbs-form.tmpl>
</TMPL_IF>
<TMPL_VAR NAME=BBS-LIST>
<TMPL_INCLUDE NAME=footer.tmpl>
