<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=header.tmpl>
<TMPL_IF NAME=SEARCH>
<!-- p>Perl で /<TMPL_VAR NAME=search>/oi しています。grep -i とほぼ同じです。</p -->
<p><font color="red">検索結果: <TMPL_VAR NAME=search_result> 件</font></p>
</TMPL_IF>
<table width="100%" border="1" bgcolor="#ddddd0">
<tr bgcolor="#aaddaa">
<th>データベースID</th>
<th>データベース名</th>
<th>特徴</th>
<th>分野</th>
</tr>
<TMPL_VAR NAME="list_table">
</table>

<TMPL_VAR NAME="list_page">

</td></table>
<TMPL_INCLUDE NAME=footer.tmpl>
