<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=header.tmpl>
<div class="scan-list">
<a href="<TMPL_VAR NAME="SCRIPT_NAME">?scan=<TMPL_VAR NAME="scan">"><TMPL_VAR NAME="scanstr">一覧</a> &gt;
<strong><TMPL_VAR NAME="search"></strong>
</div>
<p>全 <TMPL_VAR NAME="search_result"> 件: </font></p>

<table width="100%" border="1" bgcolor="#ddddd0">
<tr bgcolor="#aaddaa">
<th>データベースID</th>
<th>データベース名</th>
<th>特徴</th>
<th>分野</th>
</tr>
<TMPL_VAR NAME="list_table">
</table>

<TMPL_VAR NAME="list_page">

<TMPL_INCLUDE NAME=footer.tmpl>
