<!-- -*- html-helper -*- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><TMPL_VAR NAME=TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR NAME=BASEDIR>/default.css" type="text/css">
</head>
<body>
<div class="navbar">
<a href="./browse.cgi">[トップ]</a>
<TMPL_IF NAME=USER>
<a href="./update.cgi">[新規登録]</a>
<TMPL_ELSE>
<a href="./member/">[ログイン]</a>
</TMPL_IF>
</div>
<h1><TMPL_VAR NAME=TITLE></h1>
<table width="100%" border="0" cellspacing="2" cellpadding="2">
<tr valign="top">
<td nowrap>
  <ul>
    <li><a href="./browse.cgi?scan=userid">ユーザ一覧</a>
    <li><a href="./browse.cgi?scan=group">グループ一覧</a>
    <li><a href="./browse.cgi?scan=subject">主題一覧</a>
    <li><a href="./browse.cgi?scan=dbname">データベース名一覧</a>
    <li><a href="./browse.cgi?scan=system">システム名一覧</a>
    <li><a href="./browse.cgi?scan=contributor">コントリビュータ一覧</a>
</td>
<td align="right">
<div class="search-form">
<form method="GET" action="./browse.cgi">
<select name="field">
  <option value="">全文</option>
  <option value="dbname">データベース名</option>
  <option value="system">システム名</option>
  <option value="contributor">コントリビュータ名</option>
  <option value="userid">登録者</option>
  <option value="subject">主題</option>
  <option value="group">グループ</option>
</select>
<input type="text" name="search" value="<TMPL_VAR NAME="search">" size="40">
<input type="hidden" name="sort" value="<TMPL_VAR NAME="sort">">
<input type="submit" value=" 検索 ">
</form>
</div>
<TMPL_IF NAME=USER>
<div><a href="./personal.cgi"><TMPL_VAR NAME=USER>さんのページへ</a></div>
</TMPL_IF>
</td>
</table>
<hr>
