<!-- -*- html-helper -*- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><TMPL_VAR NAME=TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR NAME=BASEDIR>/default.css" type="text/css">
</head>
<body>
<TMPL_IF NAME=USER>
<div class="update">
<a href="browse.cgi">[トップ]</a>
<a href="./update.cgi">[新規登録]</a>
</div>
<TMPL_ELSE>
<div class="login"><a href="./member/">[ログイン]</a></div>
</TMPL_IF>
<h1><TMPL_VAR NAME=TITLE></h1>
