<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=header.tmpl>

<p>データベース情報の登録が完了しました。ありがとうございました。</p>
<ul>
<li>データベース情報: <a href="./browse.cgi?id=<TMPL_VAR NAME=DBID>"><TMPL_VAR NAME=DBTITLE></a></li>
</ul>

<TMPL_INCLUDE NAME=footer.tmpl>
